{% extends "base.html" %}

{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <form method="post" action="/quizzresult/{{hash}}">

                    {% csrf_token %}
    <div class="jumbotron" style="position: relative">
        <h1>{{quizz.name}}</h1>
        {% load static %}
        <img src="{% static 'img/monster.png' %}" style="position: absolute; bottom: 0; right: 0; z-index: 9">
        <p style="z-index: 10">Bienvenue sur ton Quizz!<br>
            Niveau: {{ quizz.level }}</p>

    </div>

    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
            <span class="bardisplay">0%</span>
        </div>
    </div>

    <span class="questionnb" style="display: none">{{questions|length}}</span>
    <ul class="nav nav-pills nav-justified" style="display: none">

        {% for q in questions %}
        {% if forloop.first %}
        <li class="active"><a data-toggle="pill" href="#{{forloop.counter}}">{{forloop.counter}}</a></li>
        {% else %}
        <li><a data-toggle="pill" href="#{{forloop.counter}}">{{forloop.counter}}</a></li>
        {% endif %}
        {% endfor %}
        <li><a data-toggle="pill" href="#result" style="display: none">result</a></li>
    </ul>

    <div class="tab-content">

            {% for q in questions %}
            {% if forloop.first %}
            <div id="{{forloop.counter}}" class="tab-pane fade in active">
            {% else %}
            <div id="{{forloop.counter}}" class="tab-pane fade">
            {% endif %}
                 <ul class="list-group">
                     <li class="list-group-item" style="font-size: large"><b>{{q.name}}</b></li>
                 {% if q.image != '' %}
                 <img src="/{{ q.image }}" style="width: 100%">
                 {% endif %}
                {% for questionid, answers in responses.items %}
                {% if questionid == q.id %}






                {% for a in answers %}
                <div class="radio">
                     <li class="list-group-item"><label><input type="radio" name="{{q.id}}" value="{{a.type}}">{{ a.text }}</label></li>
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% if forloop.last %}
                 <a class="next" data-toggle="pill" href="#result" style="color: white; font-size: large"><li class="list-group-item" style="text-align: center;background-color: #2e6da4;">Obtenir mon résultat!</li></a>
                {% else %}
                <a class="next" data-toggle="pill" href="#{{forloop.counter|add:1}}" style="color: white; font-size: large"><li class="list-group-item" style="text-align: center;background-color: #2e6da4;">Suivante</li></a>
                {% endif %}
                </ul>
            </div>
            {% endfor %}
            <div id="result" class="tab-pane fade">
                <ul class="list-group">
                     <li class="list-group-item" style="font-size: large; text-align: center"><b>Felicitation, Quizz terminé!</b></li>


                    <li class="list-group-item" style="text-align: center;background-color: #2e6da4;"><input type="submit" value="Voir mon score" style="width: 100%; height: 100%; background-color: #2e6da4; color: white; font-size: large; border: none"></li>

                    </ul>
            </div>
        </div>
    </div>


            </form>

    {% endblock %}
